*{
  color: white;
  font-family: Helvetica,Arial, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  background-color:#24292e;
}

#root{
  width: 100%;
}

input{
  background-color:#313c47;
  border: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  height: 30px;
  margin: 0 auto;
  padding-left: 10px;
  border-radius: 14px;
  width:100%;
}

.title-app{
  background: linear-gradient(90deg,#0f0c29,#221f47,#24243e);
  color: white;
  padding: 20px ;
  padding-top:40px;
  padding-bottom: 40px;
  text-align: center;
}

.container{
  padding: 60px;
  padding-top: 10px;
}

.ul-0{
  margin-left: 0px;
}

.card-title{
  background: linear-gradient(90deg,#0f0c29,#221f47,#24243e);
  /* border: 1px solid grey; */
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 12px;
}

.card-grid{
  display: flex;
  flex-flow: row wrap;

}

.card{
  align-content: center;
  background: rgba( 11, 6, 30, 0.45 );
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  width: min-content;
  
  
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
}

.card p{
  text-align: center;
  padding: 8px;
}

.card img{
    max-height: 130px;
}

